@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'BebasRegular';
    font-weight: normal;
    font-style: normal;
}
html,body{
 font-family: 'BebasRegular',Microsoft jheng,microsoft yahei;
	width:100%;
	height:100%;
}

.navigation{
	position:fixed;
	z-index:1;
	top:20px;
}
.navigation li{
	color:#333333;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	font-weight:bold;
	-webkit-transition: all .2s ease-in-out;
	border-bottom:1px solid black;
	text-align:left;
	width:53px;
}
.navigation li:hover,.active{
	font-size:25px;
	cursor:pointer;
	width:100px!important;
}
a:link{
	text-decoration:none;
	color:#036;
	font-size:12px;
}
a:hover{
	text-decoration:none;
	color:#9C0;
}
a:visited{
	text-decoration:none;
	color:#339;
}
	
.slide{
	background-attachment: fixed;
	width:100%;
	height:100%;
	position: relative;
}
.wrapper{
	width:960px;
	height:200px;
	margin:0 auto;
	position:relative;
}
.slideno{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}
.button{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	bottom:60px;
	left:50%;
	background-image:url(../img/arrow.png);
}
.button:hover{
	cursor:pointer;
}

/******************************
 SLIDE 1 
*******************************/
#slide1{
	background-color:#f1f1f1;
	
}
#slide1 img:first-child{
	position:absolute;
top: 15%;
left: 8%;
}
#slide1 img:nth-child(2){
	position:absolute;
	top:30%;
	left:10%;
}
#slide1 .parallaxbg{
    font-family: 'Fauna One',Microsoft jheng,microsoft yahei,  san-serif;
	position:absolute;
	Right:20%;
	top:40%;
	left:60%;
	
	font-size:14px;
	line-height:21px;
	color:333333;
}
/******************************
 SLIDE 2 
*******************************/
#slide2{
	background-color:#000000;
	
}
#slide2 img:first-child{
	position:absolute;
top: 5%;
left: 8%;
}
#slide2 img:nth-child(2){
	position:absolute;
	top:10%;
	left:5%;
}

#slide2 .parallaxbg{
    font-family: 'Fauna One',Microsoft jheng,microsoft yahei,  san-serif;
	position:absolute;
	Right:20%;
	top:40%;
	left:60%;
	
	font-size:14px;
	line-height:21px;
	color:#999999;
}
/******************************
 SLIDE 3 
*******************************/
#slide3{

	background-color:#e1dec8;
	

}
#slide3 img:first-child{
	position:absolute;
	top:10%;
	left:5%;
}
#slide3 img:nth-child(2){
	position:absolute;
	top:10%;
	left:5%;
}

#slide3 .parallaxbg{
    font-family: 'Fauna One',Microsoft jheng,microsoft yahei,  san-serif;
	position:absolute;
	Right:20%;
	top:40%;
	left:60%;
	
	font-size:14px;
	line-height:21px;
	color:#000;
}
/******************************
 SLIDE 4 
*******************************/

#slide4{
	background-image:url(../img/slide4.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#slide4 .parallaxbg{
    font-family: 'Fauna One',Microsoft jheng,microsoft yahei,  san-serif;
	position:absolute;
	Right:20%;
	top:40%;
	left:60%;
	
	font-size:14px;
	line-height:21px;
	color:#000;
}

